@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');   
:root{
    background-color: white;
    background-color: slategray;
    --font-color: white;
    --valid-color: rgb(44, 238, 144);
    --invalid-color: rgb(255, 127, 80);
    font-size: 4rem;
    font-family: "Roboto",sans-serif;
}

body{
    overflow: hidden;
    height:110vh;
    background-image: url("/home/quent/codes/sign-up-form/images/clouds-img.jpg");
    background-size:cover;

}
img{
    width:100vw;
    height: auto;
    display: block;
}
.formBG{
    background-color: black;
    height:80%;
    width: 50%;
    position:absolute;
    border-radius: 25px;
    opacity: 0.6;
    z-index: 2;

    /* to center a element */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

}

/* LAYOUT */
.formBG > div,li,button,.login{
    color:var(--font-color);
    position: absolute;

} 
li{
    list-style-type: none;
}
.one{
    width:100%;
    top:2.5%;
    text-align: center;
}
.two{
    font-size:0.4rem;
    width:100%;
    top: 18.5%;
    text-align: center;
}

hr{
    position: absolute;
    top:14.5%;
    width: 80%;

    left:0;
    right:0;
    margin:0 auto;

}
input{
    display: block;
    margin-top:10px;
}

/* placing all the inputs */
.line-1a, .line-1b,
.line-2a, .line-2b,
.line-3a, .line-3b,
button, .login{
    font-size: 0.3rem;
    top: 30%;
    text-align: center;
}

.line-2a, .line-2b{
    top:45%
}
.line-3a, .line-3b{
    top:60%;
}

.line-1a, .line-2a, .line-3a{
    left: 15%;
}

.line-1b, .line-2b, .line-3b{
    right:15%;
}

button{
    top:75%;
    color:black;
    height: 50px;
    width: 250px;
    border-radius: 7px;

    /* to center a element */
    left:0;
    right:0;
    margin:0 auto;

}

.bottomm{
    top:86%;
    width: 80%;

    left:0;
    right:0;
    margin:0 auto;
}
.login{
    color:white;
    top:90%;
    font-size: 0.25em;
    left:0;
    right:0;
    margin:0 auto;

}
a{
    text-decoration: none;
}
a:link, a:visited{
    color:white;

}

/* for different width */
@media only screen and (max-width: 1750px ) {
    .formBG{
        width: 60%;
    }
}
@media only screen and (max-width: 1450px) {
    .formBG{
        width: 75%;
    }
}

/* for smaller height */
@media only screen and (max-height: 600px) {
    :root{
        font-size: 3.2rem;
    }
    button{
        height: 35px;
        width:200px;
    }
}


/* STYLING */
input{
    color:white;
    background-color: black;
    opacity: 0.5;
    border-radius: 5px;
    border:2px solid white;
    outline: none;
    padding:2px;
}  
input:hover{
    border-width: 3px;
}


input:focus:valid{
    border:3px solid var(--valid-color);
    background-color:black;

}
input:valid{
    border:3px solid var(--valid-color);
    background-color:rgba(44, 238, 144,0.3);
    transition-duration: 0.5s;
    transition-property: background-color;
} 

input:focus:invalid{
    border:3px solid var(--invalid-color);
    background-color: black;
}

/* added with js */
.inputInvalid:invalid{
    border:3px solid var(--invalid-color);
    background-color:  rgb(255, 127, 80 ,0.3);
    transition-duration: 0.5s;
    transition-property: background-color;
}


input::placeholder{
    font-size: 0.9em;
    text-align: center;
}

/* adds this to .email only if .inputInvalid.invalid exists */
.inputInvalid:invalid + .email::after{
    content: "*Enter a valid email";
    display: block;
    position: absolute;
    top:75px;
    font-size: 0.7em;
    color:var(--invalid-color);
}

.inputInvalid:invalid + .pNum::after{
    content: "*Enter a valid phone number";
    display: block;
    position: absolute;
    top:75px;
    font-size: 0.7em;
    color:var(--invalid-color);
}
.inputInvalid:invalid + .pass::after{
    content: "*Password must contain minimum of 6 characters";
    display: block;
    position: absolute;
    top:75px;
    font-size: 0.7em;
    color:var(--invalid-color);
}
.inputInvalid:invalid + .confirm-pass::after{
    content: "*Password does not match";
    display: block;
    position: absolute;
    top:75px;
    font-size: 0.7em;
    color:var(--invalid-color);
}

/* mobile view */
@media only screen and (max-width: 1000px) {
    :root{
        font-size: 3.5rem;
    }
    body{
        overflow:auto;
        height: 160vh;
    }
    .formBG{
        margin-top: 20px;
        height:1000px;
    }
    .line-1a, .line-2a, .line-3a{
        /* to center an INPUT element with position ABSOLUTE */
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .line-1b, .line-2b, .line-3b{
        /* same as above to center an INPUT element with position ABSOLUTE(no idea why i have to change direction tho but it works) */
        right: 50%;
        transform: translate(50%, 50%);
    }
    .line-1a{
        top:280px;
    }
    .line-1b{
        top: 310px;
    }
    .line-2a{
        top: 460px;
    }
    .line-2b{
        top: 510px;
    }
    .line-3a{
        top:660px;
    }
    .line-3b{
        top:700px;
    }

    button{
        top:820px;
    }
    .bottomm{
        top:900px;
    }
    .login {
        top: 920px;
    }

}